*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    height: 100%;
}

#nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 30px;
}

#nav h3{
    background-color: black;
    color: white;
    padding: 8px 20px;
    font-size: 15px;
    border-radius: 50px;
    margin: 5px;
}
#intro{
    height: 220px;
    width: 100%;
    background-color:rgb(255, 255, 255);
    padding: 30px 50px;

}

#intro h1{
     font-size: 80px;
     letter-spacing: -3px;
     line-height: 70px;
}

#location{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#location h3 ,#location h4{
    font-size:20px ;
    font-weight: 600;
    
}
#img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#main-img{
     height: 100%;
     width: 100%;
     border: solid 1px black;
     background-color: orange;
     
}

#about{
    height: 55%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px;
}

#about h2{
   height: 100%;
   width: 62%;
   font-size: 55px;
   line-height: 50px;
   font-weight: 600;
   letter-spacing: 2px;
}
#about-part2{
    height: 100%;
    width: 35%;
    border-left: solid 2px black;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
#about-part2 h3{
    font-size: 25px;
    font-weight: 600;
}

#icons i{
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 15px;
    border-radius: 25px;
    margin: 5px;
}

#work{
    height: 65%;
    width: 100%;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px;
    
}
#work1{
    width: 35%;
    height: 100%;
    padding-right: 15px;
    border-right: solid 2px black;
    
    display: flex;
    justify-content: space-between;
}
#work1 h3{
    font-size: 20px;
    font-weight: 600;
}

#work1 i{
    font-size: 20px;
    font-weight: 600;
}
#work2{
    width: 65%;
    height: 100%;
    padding: 0px 50px;
    
}
.work2-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px ;
}

.work2-part:nth-child(1){
    border-bottom: 2px solid black;
}

.work2-part .elm{
    width: 50%;
    height: 100%;
}

.work2-part .elm:nth-child(1){
    border-right: 2px solid black;
    padding-right: 40px;
}



.work2-part .elm:nth-child(2){
    padding-left: 40px;
}

.work2-part .elm h4{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.work2-part .elm p{
    font-size: 15px;
    color: #3e3d3d;
    font-weight: 200;
}